.body {
  background-color: #ffffff;
  background-image: radial-gradient(#f7458a 1.05px, #ffffff 1.05px);
  background-size: 21px 21px;
}

h1 {
  font-size: 40px;
  color: rgb(134, 1, 50);
  text-shadow: 2px 2px 5px orangered;
  margin-bottom: auto;
}

h2 {
  font-size: 20px;
  margin-top: auto;
  text-shadow: 2px 2px 5px orangered;
}

h4 {
  font-size: 20px;
  color: rgb(134, 1, 50);
  text-shadow: 2px 2px 5px orangered;
  padding-left: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.avatar {
  background-color: #fff;
  border: #f79845 solid 8px;
  border-radius: 10%;
  min-width: 250px;
  width: 350px;
  max-width: 350px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  margin: 10px;
  top: 10px;
}

/* @media only screen and (min-width: 928px) {
  .avatar {
    top: 10px;
  }
} */

.random-btn {
  color: rgb(255, 89, 0);
  border: #f79845 solid 1px;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.random-btn:hover {
  border: #f79845 solid 3px;
}
.random-btn:active {
  background-color: rgba(255, 132, 71, 0.276);
}

.avatar-part {
  max-width: 250px;
  position: absolute;
  align-self: flex-end;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 50px;
  margin: auto;
}

.avatar-part.layer-1 {
  z-index: 1;
}
.avatar-part.layer-2 {
  z-index: 2;
}
.avatar-part.layer-3 {
  z-index: 3;
}
.avatar-part.layer-4 {
  z-index: 4;
}
.avatar-part.layer-5 {
  z-index: 5;
}
.avatar-part.layer-6 {
  z-index: 6;
}

.select-box {
  border: dashed 3px rosybrown;
  border-radius: 30px;
  max-width: 500px;
  min-width: 250px;
  margin: 10px;
}
.icon {
  background-color: #ffffff;
  border: solid 2px rgb(241, 7, 179);
  box-shadow: 1px 1px 5px orangered;
  border-radius: 20%;
  width: 50px;
  margin: 3px;
}
.icon:hover {
  transform: scale(1.01);
}
.icon:active {
  border: tomato solid 2px;
}
